src/.vs/
src/.vs/
NSwagWebApplication/.vs/
SwashbuckleWebApplication/.vs/
NSwagWebApplication/SwaggerWebApplication/obj/
NSwagWebApplication/SwaggerWebApplication/bin/
SwashbuckleWebApplication/SwaggerWebApplication/obj/
SwashbuckleWebApplication/SwaggerWebApplication/bin/
